
.back-button-container {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-top: 10px;
}

.studente-container {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    max-width: 500px;
    margin: 40px auto;
}

.studente-container .MuiPaper-root {
    background-color: transparent !important;
    box-shadow: none !important;
}

.studente-container input,
.studente-container .MuiSelect-select {
    width: 100% !important;
    min-width: 250px !important;
}

.studente-container button {
    width: 100% !important;
}

.studente-container .MuiOutlinedInput-root input {
    padding: 14px !important;
}

.studente-container .MuiOutlinedInput-root .MuiInputAdornment-root {
    margin-right: -8px;
}

.studente-container input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
    cursor: pointer;
}
