.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;    
}

.login-container input,
.login-container button {   
    color: white !important;               
}

.Muiforlabel-root {
    color: white !important;
}

.login-container .MuiOutlinedInput-root fieldset {
    border-color: white;
}


.back-button-container {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-top: 10px;
}