/*
.login-page{
    min-height: 100vh;           
    width: 100%;                 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34; 
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden; 
} 

*/
.login-container {
    background-color: #708993;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;    
}

.login-container input,
.login-container button {   
    color: white;               
}

.Muiforlabel-root {
    color: white;
}

.login-container .MuiOutlinedInput-root fieldset {
    border-color: white;
}

.back-button-container {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-top: 10px;
}

.username-field .MuiInputBase-input {
    width: 100%;
    min-width: 225px;
}

.signup-link button{
    color: cornflowerblue !important;
    margin-left: 5px;
}
