.back-button-container {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-top: 10px;
}
.signup-container {
    gap: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* 🔹 Testo e placeholder bianchi */
.MuiInputBase-input {
  color: white;       /* testo dentro gli input */
}


/* 🔹 Label dei campi */
.MuiInputLabel-root {
  color: white !important;
}

/* 🔹 Bordi input */
.MuiOutlinedInput-root {
  border-radius: 6px;
  color: white !important;
}

/*bordi*/
.MuiOutlinedInput-root fieldset {
  border-color: white !important;
}

.MuiFormLabel-root{
    color: white !important;
}

/* 🔹 Radio button e label */
.MuiFormControlLabel-root {
  color: white !important;
}

.MuiRadio-root {
  color: white !important;
}

/* 🔹 Date picker icona */
.MuiSvgIcon-root {
  color: white !important;
}

