.back-button-container {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-top: 10px;
}
.signup-container {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.signup-paper {
    background-color: transparent !important;
    box-shadow: none !important;
}

.signup-container input{
    width: 100% !important;
    min-width: 250px !important;
}

.signup-container button{
    width: 100% !important;
}

.signup-container .MuiOutlinedInput-root input {
    padding: 14px !important; /* riduce l'altezza del campo */
}

.signup-container .MuiOutlinedInput-root .MuiInputAdornment-root {
    margin-right: -8px; /* avvicina l’icona all’input */
}

.signup-container input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
    cursor: pointer;
}
